<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <h1>RegistrAPP</h1>
  </div>
  <br>
  <div class="ion-text-center">
    
    <h1>¡Bienvenido!</h1>
    
    <ion-list lines="none" class="ion-padding rounded" id="logbox">
      <ion-item>
        <ion-input [(ngModel)]="user.username" 
        label="Nombre de Usuario" 
        placeholder="Ingrese Nombre de Usuario" 
        labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="user.password"
        label="Contraseña" 
        labelPlacement="floating" 
        type="password" 
        placeholder="Ingrese Contraseña"></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top" color="dark" expand="block" (click)="login()">Ingresar</ion-button>
    </ion-list>
    <p>
      <ion-text> ¿Olvidaste tu contraseña? <br>
      <a routerLink="/forget-password">Recuperar contraseña</a></ion-text>
    </p>
    <p>
      <ion-text> ¿No tienes una cuenta? <br>
      <a routerLink="/register">Registrate aquí</a></ion-text>
    </p>
  </div>
</ion-content>
