<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="ion-text-center">Página de usuario</h1>

  <div class="content">
    <ion-item class="rounded">
      <ion-label>Usuario</ion-label>
      <ion-text class="ion-text-end">{{ session.user }}</ion-text>
    </ion-item>
  </div>
</ion-content>
