<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <h1>RegistrAPP</h1>
  </div>
  <br>
  <div class="ion-text-center">
    
    <h1>Porfavor ingrese su correo</h1>
    
    <ion-list lines="none" class="ion-padding rounded" id="logbox">
      <ion-item>
        <ion-input
        label="Correo" 
        placeholder="Ingrese Correo electronico" 
        labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top" color="dark" expand="block" >Ingresar</ion-button>
    </ion-list>
  </div>
</ion-content>