<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <h1>RegistrAPP</h1>
  </div>
  <br>
  <div class="ion-text-center">
    <h1>¡Bienvenido!</h1>
    <h2>Ingrese sus datos para registrarse</h2>
    <ion-list lines="none" class="ion-padding rounded" id="logbox">
      <ion-item>
        <ion-input [(ngModel)]="userRegister.username"
        label="Nombre de Usuario" 
        placeholder="Ingrese Nombre de Usuario" 
        labelPlacement="floating" type="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="userRegister.email" 
        label="Email" 
        placeholder="Ingrese Email" 
        labelPlacement="floating" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="userRegister.password" 
        label="Contraseña" 
        placeholder="Ingrese contraseña" 
        labelPlacement="floating" type="password"></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top" color="dark" expand="block" (click)="register(this.userRegister)" >Registrarse</ion-button>
    </ion-list>
  </div>
</ion-content>
